// fonts
$font_primary: 'Nunito', sans-serif;
$font_secondary: 'Livvic', sans-serif;

$color_bg_1: #EAEDF5;
$color_bg_2: #F0F9FF;

$color_primary: #060B4D;
$color_dark: #1E293B;
$color_white: #ffffff;

// tailwind colors
$color_slate_50: #f8fafc;
$color_slate_100: #f1f5f9;
$color_slate_200: #e2e8f0;
$color_slate_300: #cbd5e1;
$color_slate_400: #94a3b8;
$color_slate_500: #64748b;
$color_slate_600: #475569;
$color_slate_700: #334155;
$color_slate_800: #1e293b;
$color_slate_900: #0f172a;

$color_gray_50: #f9fafb;
$color_gray_100: #f3f4f6;
$color_gray_200: #e5e7eb;
$color_gray_300: #d1d5db;
$color_gray_400: #9ca3af;
$color_gray_500: #6b7280;
$color_gray_600: #4b5563;
$color_gray_700: #374151;
$color_gray_800: #1f2937;
$color_gray_900: #111827;

$color_indigo_50: #eef2ff;
$color_indigo_100: #e0e7ff;
$color_indigo_200: #c7d2fe;
$color_indigo_300: #a5b4fc;
$color_indigo_400: #818cf8;
$color_indigo_500: #6366f1;
$color_indigo_600: #4f46e5;
$color_indigo_700: #4338ca;
$color_indigo_800: #3730a3;
$color_indigo_900: #312e81;
