@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body {
  height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #EAEDF5;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Livvic", sans-serif;
  color: #1e293b;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c7d2fe;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a5b4fc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4f46e5;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

h5 {
  font-size: 14px;
  font-weight: 600;
}

h6 {
  font-size: 12px;
  font-weight: 500;
}

.box {
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 1px solid #e2e8f0;
  box-shadow: 0px 2px 5px #e0e7ff;
}

.box .box-header {
  padding: 10px 15px;
  min-height: 45px;
  border-bottom: 1px solid #f1f5f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .box-body {
  padding: 10px 15px 15px;
  overflow-y: auto;
}

.box .box-footer {
  border-top: 1px solid #e2e8f0;
  padding: 10px 15px 15px;
}

table {
  width: 100%;
}

.table {
  width: 100%;
  overflow: hidden;
}

.table thead {
  border: none !important;
}

.table thead tr {
  background-color: #f1f5f9;
  border-bottom-color: #e2e8f0;
}

.table thead tr th {
  font-weight: 500;
  color: #1f2937;
  font-family: "Livvic", sans-serif;
  font-size: 16px;
  text-align: center;
}

.table tbody {
  border: none !important;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.table tbody tr {
  position: relative;
  border-bottom-color: #e2e8f0;
}

.table tbody tr::after {
  position: absolute;
  top: 0;
  left: -2px;
  width: 2px;
  background-color: #6366f1;
  height: 100%;
  content: '';
}

.table tbody tr td {
  font-size: 14px;
  vertical-align: middle;
  padding: 10px;
}

.table tbody tr td .action {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
  font-size: 16px;
}

.table tbody tr td .action a {
  padding: 3px 3px;
  line-height: 0px;
  border-radius: 3px;
}

.table tbody tr td .action a:hover {
  background-color: #4f46e5;
  color: #ffffff;
}

.table tbody tr:hover {
  background-color: #eef2ff;
  cursor: pointer;
}

.table tbody tr:hover::after {
  left: 0;
  content: '';
  transition: 300ms;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: 500;
  font-family: "Livvic", sans-serif;
}

.form-control:focus {
  box-shadow: none;
  border-color: #a5b4fc;
}

.form-select:focus {
  box-shadow: none;
  border-color: #a5b4fc;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
}

.wrapper .sidebar {
  background-color: #F0F9FF;
  width: 269px;
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #e0e7ff;
}

.wrapper .main-content {
  background-color: #EAEDF5;
  width: calc(100% - 270px);
  height: 100vh;
  overflow-y: auto;
}

@media screen and (max-width: 576px) {
  .wrapper {
    display: block;
  }
  .wrapper .sidebar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    visibility: visible;
    opacity: 1;
    transition: 300ms;
  }
  .wrapper.rs-open-sidebar .sidebar {
    left: 0;
  }
  .wrapper .main-content {
    width: 100%;
  }
}

.main-content .main-header {
  background-color: #ffffff;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: center;
}

.main-content .content {
  padding: 15px;
}

.sidebar {
  padding: 15px 10px;
  position: relative;
  /* width */
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 15px;
}

.sidebar .logo img {
  width: 85px;
  margin: 0 auto;
}

.sidebar .logo h2 {
  margin-top: 10px;
  font-size: 18px;
  color: #475569;
  font-weight: 700;
}

.sidebar .user {
  margin-bottom: 15px;
  background-color: #6366f1;
  color: #ffffff;
  padding: 15px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.sidebar .user .user-img img {
  width: 40px;
}

.sidebar .user .user-info h3 {
  font-size: 18px;
  font-weight: 500;
}

.sidebar .user .user-info p {
  font-size: 14px;
  font-weight: 300;
}

.sidebar::-webkit-scrollbar {
  width: 0px;
}

.navigations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px 15px;
}

.navigations .navigation-item {
  text-align: center;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #e0e7ff;
  box-shadow: 0px 3px 4px #c7d2fe;
}

.navigations .navigation-item a {
  transition: 300ms;
}

.navigations .navigation-item a i.bx {
  font-size: 32px;
  margin-bottom: 5px;
}

.navigations .navigation-item a span {
  display: block;
  font-weight: 500;
}

.navigations .navigation-item .navigation-content {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #F0F9FF;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: 300ms;
}

.navigations .navigation-item .navigation-content .navigation-content-header {
  margin-top: 15px;
}

.navigations .navigation-item .navigation-content .navigation-content-body {
  text-align: left;
}

.navigations .navigation-item .navigation-content .navigation-content-body h5 {
  margin-top: 15px;
  font-weight: 500;
  color: #4b5563;
  font-size: 1rem;
  border-bottom: 1px solid #c7d2fe;
  padding: 3px 5px;
}

.navigations .navigation-item .navigation-content .navigation-content-body ul {
  margin-top: 10px;
}

.navigations .navigation-item .navigation-content .navigation-content-body ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  padding: 5px 0px;
}

.navigations .navigation-item .navigation-content .navigation-content-body ul li a i.bx {
  margin: 0px;
  margin-right: 5px;
  font-size: 20px;
  color: #94a3b8;
  transition: 300ms;
}

.navigations .navigation-item:hover {
  background-color: #4f46e5;
  cursor: pointer;
}

.navigations .navigation-item:hover a {
  color: #ffffff;
  transition: 500ms;
}

.navigations .navigation-item:hover a i.bx {
  color: #ffffff;
}

.navigations .navigation-item:hover .navigation-content .navigation-content-body ul li a {
  color: inherit;
}

.navigations .navigation-item:hover .navigation-content .navigation-content-body ul li:hover {
  background-color: #6366f1;
  border-radius: 5px;
}

.navigations .navigation-item:hover .navigation-content .navigation-content-body ul li:hover a {
  color: #ffffff;
}

.navigations .navigation-item:hover .navigation-content .navigation-content-body ul li:hover a i.bx {
  color: #ffffff;
  margin-right: 10px;
}

.navigations .navigation-item.open .navigation-content {
  left: 0;
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transition: 500ms;
}
/*# sourceMappingURL=style.css.map */